{% extends "HBPCToolsBundle:Layouts:layout.html.twig" %}
{% block title %}
    Catégories - {{ parent() }}
{% endblock %}
{% block hbpctools_body %}
<div class="container">
    <div class="jumbotron">
        <h1>Composants <small>Catégories</small></h1>
    </div>
    <div class="row">
        <div id="content" class="col-md-12">
            <h2>Liste</h2>
            <p>
                <a href="{{ path('hbpc_tools_categorie_new') }}">
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter une catégorie</button></a>
                 <a href="{{ path('hbpc_tools_composant_new') }}">
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter un composant</button></a>
            </p>
            {% for message in app.session.flashbag.get('notice') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div id="content" class="col-md-12">
            <table class="table table-striped"> 
                <thead> 
                    <tr> 
                        <th>#</th> 
                        <th>Nom</th> 
                        <th>Actions</th> 
                    </tr> 
                </thead> 
                <tbody> 
                    {% for cat in categories %}
                        <tr> 
                            <th scope="row">{{ cat.position }}</th> 
                            <td><a href="{{ path('hbpc_tools_categorie_view', { 'id': cat.id }) }}">{{ cat.nom }}</a></td> 
                            <td>
                                <a href="{{ path('hbpc_tools_categorie_edit', { 'id': cat.id }) }}">
                                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button></a>
                                <a href="{{ path('hbpc_tools_categorie_remove', { 'id': cat.id }) }}">
                                   <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></a>
                            </td> 
                        </tr> 
                    {% else %}
                            <tr>
                                <th>Pas de catégories !</th>
                                <td></td>
                                <td></td>
                            </tr>
                    {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
</div>
{% endblock %}