{% extends "HBPCToolsBundle:Layouts:layout.html.twig" %}
{% block title %}
    Composants > {{ categorie.nom }} - {{ parent() }}
{% endblock %}
{% block hbpctools_body %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Composants <small>{{ categorie.nom }}</small></h1>
    </div>
    <div class="row">
        <div id="content" class="col-md-12">
            <h2>Dans cette catégorie</h2>
            <p>
                <a href="{{ path('hbpc_tools_categories') }}">
                    <button type="button" class="btn btn-primary"> << Retour</button></a>
                <a href="{{ path('hbpc_tools_composant_new') }}">
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter un composant</button></a>
                <a href="{{ path('hbpc_tools_categorie_edit', { 'id': categorie.id }) }}">
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Editer</button></a>
                <a href="{{ path('hbpc_tools_categorie_remove', { 'id': categorie.id }) }}">
                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer</button></a>
            
            </p>
            {% for message in app.session.flashbag.get('notice') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </div>
        <div id="content" class="col-md-12">
            <table class="table table-striped"> 
                <thead> 
                    <tr> 
                        <th>Réf. F.</th> 
                        <th>Fournisseur</th> 
                        <th>Nom</th> 
                        <th>Prix achat HT</th> 
                        <th>Prix de vente TTC</th> 
                        <th>Marge TTC</th> 
                        <th>Stock</th> 
                        <th>Actions</th> 
                    </tr> 
                </thead> 
                <tbody> 
                    {% for comp in composants %}
                        <tr> 
                            <th><input type="text" size="5" value="{{ comp.fournisseurRef }}" readonly onClick="this.select();"/></th> 
                            <td>{{ comp.fournisseur }}</td> 
                            <th>{{ comp.nom }}</th> 
                            <td>{{ comp.getPrixAchat }} €</td>
                            <td>{{ comp.getPrixVenteTTC }} €</td>
                            <td>{{ comp.getMargeTTC }}%</td>
                            <td>
                                {% if comp.stock <= 0 %}
                                    <font color="red">{{ comp.stock }}</font>
                                {% elseif comp.stock < 2 %}
                                    <font color="orange">{{ comp.stock }}</font>
                                {% else %}
                                    <font color="green">{{ comp.stock }}</font>
                                {% endif %}</td>
                            <td>
                                <a href="{{ path('hbpc_tools_composant_hausse_stock', { 'id': comp.id }) }}">
                                    <button type="button" class="btn btn-success" title="Augmenter le stock"><span class="glyphicon glyphicon-chevron-up"></span></button></a>
                                <a href="{{ path('hbpc_tools_composant_baisse_stock', { 'id': comp.id, 'config': 0 }) }}">
                                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-chevron-down"></span></button></a>
                                <a href="{{ path('hbpc_tools_composant_edit', { 'id': comp.id }) }}">
                                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button></a>
                                <a href="{{ path('hbpc_tools_composant_remove', { 'id': comp.id }) }}">
                                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></a>
                                </td> 
                        </tr> 
                    {% else %}
                            <tr>
                                <th>Pas de composants dans cette catégorie !</th>
                                <td></td>
                                <td></td>
                            </tr>
                    {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
</div>
{% endblock %}