{% extends "HBPCToolsBundle:Layouts:layout.html.twig" %}
{% block title %}
    Composants - {{ parent() }}
{% endblock %}
{% block hbpctools_body %}
<div class="container">
    <div class="jumbotron">
        <h1>Composants</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Liste</h2>
            <p>
                <a href="{{ path('hbpc_tools_categories_new') }}">
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>
                </a>
            </p>
        </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped"> 
                <thead> 
                    <tr> 
                        <th>#</th> 
                        <th>Nom</th> 
                        <th>Catégorie</th> 
                        <th>Prix Achat TTC</th> 
                        <th>Prix Vente TTC</th> 
                        <th>Actions</th> 
                    </tr> 
                </thead> 
                <tbody> 
                    {% for compo in composants %}
                        <tr> 
                            <th scope="row">{{ compo.id }}</th> 
                            <td>{{ compo.nom }}</td> 
                            <td>{{ compo.categorie.getNom }}</td> 
                            <td>{{ compo.getPrixAchatTTC }}€</td> 
                            <td>{{ compo.getPrixVenteTTC }}€</td> 
                            <td>
                                <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td> 
                        </tr> 
                        {% else %}
                            <tr>
                                <th>Pas de composants !</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                    {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
</div>
{% endblock %}