{% extends "HBPCToolsBundle:Layouts:layout.html.twig" %}
{% block title %}
    Supprimer une catégorie - {{ parent() }}
{% endblock %}
{% block hbpctools_body %}
<div class="container">
    <div class="jumbotron">
        <h1>Composants <small>Catégories</small></h1>
    </div>
    <div class="row">
        <div id="content" class="col-md-12">
            <h2>Supprimer une catégorie</h2>
            
        </div>
        <div id="content" class="col-md-12">
            <p>
                Etes-vous certain de vouloir supprimer la catégorie "{{ cat.nom }}" ?
            </p>

          <form action="{{ path('hbpc_tools_categories_remove', {'id': cat.id}) }}" method="post">
            <a href="{{ path('hbpc_tools_categories') }}">
                <button type="button" class="btn btn-primary"> 
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Retour
                </button></a>
            <input type="submit" value="Oui, supprimer" class="btn btn-danger" />
            {{ form_rest(form) }}
          </form>
        </div>
    </div>
</div>
{% endblock %}