{% extends "HBPCToolsBundle:Layouts:layout.html.twig" %}
{% block title %}
    {{ categorie.nom }} - Catégories - {{ parent() }}
{% endblock %}
{% block hbpctools_body %}
<div class="container">
    <div class="jumbotron">
        <h1>Catégorie {{ categorie.nom }}</h1>
    </div>
    <div class="row">
        <div id="content" class="col-md-12">
            <h2>Composants dans cette catégorie</h2>
            <a href="{{ path('hbpc_tools_categories') }}"><button type="button" class="btn btn-primary"> << Retour</button></a>
            <a href="{{ path('hbpc_tools_categories') }}"><button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter</button></a>
        </div>
        <div id="content" class="col-md-12">
            <table class="table table-striped"> 
                <thead> 
                    <tr> 
                        <th>#</th> 
                        <th>Nom</th> 
                        <th>Actions</th> 
                    </tr> 
                </thead> 
                <tbody> 
                    {% for comp in composants %}
                        <tr> 
                            <th scope="row">{{ comp.id }}</th> 
                            <td><a href="">{{ comp.nom }}</a></td> 
                            <td>{{ comp.getPrixVenteTTC }}</td>
                            <td>
                                <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td> 
                        </tr> 
                    {% else %}
                            <tr>
                                <th>Pas de composants dans cette catégorie !</th>
                                <td></td>
                                <td></td>
                            </tr>
                    {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
</div>
{% endblock %}