{% extends "HBPCToolsBundle:Layouts:layout.html.twig" %}
{% block title %}
    Configuration - {{ parent() }}
{% endblock %}
{% block hbpctools_body %}
<div class="container">
    <div class="jumbotron">
        <h1>{{ categorie.nom }}</h1>
    </div>
    <div class="row">
        <div id="content" class="col-md-12">
            <h2>Configurations</h2>
            <p>
                <a href="{{ path('hbpc_tools_gamme') }}">
                    <button type="button" class="btn btn-primary"> << Retour</button></a>
                <a href="{{ path('hbpc_tools_gamme_edit', { 'id': categorie.id }) }}">
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Editer</button></a>
                <a href="{{ path('hbpc_tools_configuration_new') }}">
                    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter une configuration</button></a>
                <a href="">
                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer</button></a>
            </p>
            {% for message in app.session.flashbag.get('notice') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div id="content" class="col-md-12">
            <table class="table table-striped"> 
                <thead> 
                    <tr> 
                        <th>#</th> 
                        <th>Nom</th> 
                        <th>Prix de vente TTC</th> 
                        <th>Marge</th> 
                        <th>Màj ?</th>
                        <th>Actions</th> 
                    </tr> 
                </thead> 
                <tbody> 
                    {% for config in configurations %}
                        <tr> 
                            <th scope="row">{{ config.id }}</th> 
                            <td><a href="{{ path('hbpc_tools_configuration_view', { 'id': config.id }) }}">{{ config.nom }}</a></td> 
                            <td>{{ config.prix }} €</td> 
                            <td>
                                {% if config.margePCPourcent <= 8 %}
                                    <font color="red">
                                        {{ config.margePCPourcent }}%
                                    </font>
                                {% else %}
                                    <font color="green">
                                        {{ config.margePCPourcent }}%
                                    </font>
                                {% endif %}
                            </td>
                            <td>
                                {% if config.maj == 1 %}
                                    <font color="green">OUI</font>
                                {% else %}
                                    <font color="red">NON</font>
                                {% endif %}
                            </td>
                            <td>
                                {% if config.maj != 1 %}
                                    <a href="{{ path('hbpc_tools_configuration_maj', { 'id': config.id }) }}">
                                        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button></a>
                                {% endif %}
                                <a href="{{ path('hbpc_tools_configuration_edit', { 'id': config.id }) }}">
                                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button></a>
                                <a href="{{ path('hbpc_tools_configuration_remove', { 'id': config.id }) }}">
                                    <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></a>
                            </td> 
                        </tr> 
                        {% else %}
                            <tr>
                                <th>Pas de configurations dans cette catégorie!</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                    {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
</div>
{% endblock %}